.panel {
    display:         flex;
    flex-direction:  column;
    justify-content: center;
    align-items:     center;
}

.list {
    list-style:           none;
    display:              flex;
    gap:                  20px;
    flex-direction:       row;
    flex-wrap:            nowrap;
    align-content:        center;
    justify-content:      space-between;
    align-items:          center;
    margin-block-start:   0;
    margin-block-end:     0;
    padding-inline-start: 0;
}

.name {
    margin-block-start: 16px;
    margin-block-end:   32px;
}

.item {
    text-align: center;
}