.price {
	display:        flex;
	flex-direction: row;
	flex-wrap:      nowrap;
	align-items:    center;


}

.total {
	display:            flex;
	flex-direction:     row;
	flex-wrap:          nowrap;
	justify-content:    flex-end;
	align-items:        center;
	margin-block-start: 40px;
	gap:                40px;
}